---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import LinkedinIcon from "../../public/logo-linkedin.svg";
import WhatsappIcon from "../../public/logo-whatsapp.svg";
import EmailIcon from "../../public/mail-outline.svg";
import ContactInfoModal from "../components/ContactInfoModal.astro";

const iconSize = 100;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<a
				href="https://linkedin.com/in/christian-barbosa-54b609330"
				target="_blank"
				class="contact-icon"
			>
				<LinkedinIcon width={iconSize} height={iconSize} />
			</a>

			<WhatsappIcon
				class="contact-icon"
				width={iconSize}
				height={iconSize}
				onclick="{window.contactInfoModal.showModal()}"
			/>

			<EmailIcon
				class="contact-icon"
				width={iconSize}
				height={iconSize}
				onclick="{window.contactInfoModal.showModal()}"
			/>
			<ContactInfoModal contactInfo="teste" />
		</main>
		<Footer />
	</body>
</html>

<style>
	.contact-icon {
		margin: 1rem auto 1rem;
		border-radius: 10px;
		display: block;
		width: fit-content;
	}
	.contact-icon:hover {
		box-shadow: 0 0 11px var(--accent);
		cursor: pointer;
	}
</style>
