---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import LinkedinIcon from "../../public/logo-linkedin.svg";
import WhatsappIcon from "../../public/logo-whatsapp.svg";
import EmailIcon from "../../public/mail-outline.svg";
import ContactInfoModal from "../components/ContactInfoModal.astro";

const iconSize = 100;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <a
        href="https://linkedin.com/in/christian-barbosa-54b609330"
        target="_blank"
        class="contact-icon"
      >
        <LinkedinIcon width={iconSize} height={iconSize} />
      </a>
      <WhatsappIcon
        id="whatsapp-contact-icon"
        class="contact-icon"
        width={iconSize}
        height={iconSize}
      />
      <EmailIcon
        id="email-contact-icon"
        class="contact-icon"
        width={iconSize}
        height={iconSize}
      />
      <ContactInfoModal id="contact-info-modal" contactInfo="teste" />
    </main>
    <Footer />
  </body>
</html>

<style>
  .contact-icon {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    border-radius: 10px;
    display: block;
    width: fit-content;
  }
  .contact-icon:hover {
    box-shadow: 0 0 11px var(--accent);
    cursor: pointer;
  }
  .cf-turnstile {
    display: flex;
    justify-content: center;
  }
</style>

<script>
  const contactInfoModal = document.getElementById("contact-info-modal") as HTMLDialogElement;
  const securedContactIcons = [document.getElementById("whatsapp-contact-icon"),document.getElementById("email-contact-icon")]
  securedContactIcons.forEach((icon) => {
    icon?.addEventListener("click", () => {
      const p = contactInfoModal.querySelector('p') 
      if (p) p.innerHTML = icon.id === "whatsapp-contact-icon" ? "64984262415" : "christian.barbosa.dev@gmail.com";
      contactInfoModal.showModal();
    });
  });
</script>